.row {
    display: flex;
    justify-content: space-between;
  }
  
  .tem-1 {
    box-sizing: border-box;
    width: 16.5%;
    height: 100px;
    background-color: purple;
    margin: 5px;
    border: 4px solid #000;
  }
  .tem-2 {
    box-sizing: border-box;
    width: 83.5%;
    height: 100px;
    background-color: #ff6623;
    margin: 5px;
    border: 4px solid #000;
  }
  
  .tem-3 {
    box-sizing: border-box;
    width: 80%;
    height: 500px;
    background-color: #d1d6da;
    margin: 5px;
    border: 4px solid #000;
  }
  .tem-4 {
    box-sizing: border-box;
    width: 20%;
    height: 500px;
    background-color: burlywood;
    margin: 5px;
    border: 4px solid #000;
  }
  
  .tem-5 {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    background-color: burlywood;
    margin: 5px;
    border: 4px solid #000;
  }
  .bg-red{
    background-color: #ff6623;
  }